.lvl-over {
  border: 1px dashed #555 !important;
}

.lvl-target {
  background-color: #ddd;
  opacity: .5;
}

[draggable] {
  cursor: move;
}

.grid {
  width: 1125px;
}

body {

  font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    display: table;
    position: relative;
    width: 100%;
    height: 100%;

   background: url(bg.jpg) no-repeat center center scroll;
    

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


}
.header {




    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.red {
  background-color: black;
  color: white;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 600px;
    height: 700px;
}

.ng-invalid.ng-dirty {
	border-color: red;
}

.ng-valid.ng-dirty {
	border-color: green;
}
