

<a href="/students/new"><button class="btn btn-primary btn-sm"><i class="icon-new-tab">Add</i></button></a>


<div >
  <div >
  </br>

    <div >
        

      <div kendo-grid k-options="mainGridOptions" k-on-change="onSelection(kendoEvent)"></div>
      <script type="text/x-kendo-template" id="template">
        <div kendo-tab-strip>
          <ul>
            <li class="k-state-active">Enrollment Details</li>
            <li>OtherInfo</li>
          </ul>
          <div>
            <div kendo-grid k-options="detailGridOptions(dataItem)"></div>
          </div>
          </div>
      </script>

<!--
        <div class="grid" ui-grid="gridOptions" ui-grid-edit >

        </div>
-->

      <!--

      <div class="gridStyle" ng-grid="gridOptions" >

        </div>

            -->


    </div>
  </div>
</div>
