<!---
  changing with angular-kendo
-->
<a href="/courses/new"><button class="btn btn-primary btn-sm"><i class="icon-new-tab">Add</i></button></a>


<div >
  <div >
  </br>

    <div >

      <div kendo-grid k-options="mainGridOptions" k-on-change="onSelection(kendoEvent)"></div>
      

      <!--

        <div class="grid" ui-grid="gridOptions" ui-grid-edit >

        </div>

-->
      <!--

      <div class="gridStyle" ng-grid="gridOptions" >

        </div>

            -->
          


    </div>
  </div>
</div>
