<div class="jumbotron">
  <form role="form-horizontal" class="container-fluid">

  <fieldset>
  <legend>
    Teacher Info
  </legend>
  <section>
    <div class="control-group">
      <div class="control">
        <dl class="dl-horizontal">
          <dt><p class="text-info text-left">TeacherId</p></dt>
          <dd>
          <p class="text-success">{{teacher.tid}}</p>
          </dd>

        </dl>

      </div>
    </div>


  </section>
  <section>
    <div class="control-group">
      <div class="control">
        <dl class="dl-horizontal">
          <dt><p class="text-info text-left">Teacher Name</p></dt>
          <dd>
            <p class="text-success">{{teacher.tname}}</p>
          </dd>

        </dl>

      </div>
    </div>


  </section>
  <section>
    <div class="control-group">
      <div class="control">
          <a href="teachers/about/{{teacher.tid}}" class="btn btn-dark btn-lg">Find Out More</a>
       </div>
     </div>
   </section>


</fieldset>
</form>



</div>
